<!-- MAIN LAYOUT -->

<!doctype html>
<html lang="en" >
    
    <head>
        <title>Hackernation</title>
        <meta charset="utf-8">

        <!-- <base href='/'> -->

        <!-- CSS -->
        <link rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap.min.css">
        
        <!-- JS -->

        <!-- APP -->
        
    </head>
    
    <body>

        <div class="container">



            <!-- Jumbotrón mamón -->
            <div class="jumbotron text-center">
                <h1>Hackernation</h1>
                <p class="lead">
                    Publica problemas de programación, soluciona problemas publicados, recibe y da
                    retroalimentación de/a otros miembros de la comunidad de Hackernation.
                </p>
            </div>



            <section id="forms">


                <!-- Cabecera de la página -->
                <div class="page-header">
                    <h2>Nuevo problema</h2>
                </div>

                

                <div class="row">
                    <div class="col-lg-12">

                        <form class="form-horizontal well">
                            <fieldset>
                                
                                <!-- Título -->
                                <div class="control-group">
                                    <h3>Título</h3>
                                    <div class="controls">
                                        <input class="form-control input-xlarge" id="input01" type="text">
                                        <p class="help-block">No debes elegir un título repetido.</p>
                                    </div>
                                </div>

                                
                                <!-- Planteamiento -->
                                <div class="control-group">
                                    <h3>Planteamiento</h3>
                                    <div class="controls">
                                        <textarea class="form-control input-xlarge" id="textarea" rows="10">
                                        </textarea>
                                        
                                        <p class="help-block">Procura plantear el problema de manera clara y dar
                                            unos casos de prueba con la salida correcta correspondiente</p>
                                    </div>
                                </div>

                                

                                <hr>


                                <!-- Botón de publicar -->
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">Publicar</button>
                                </div>

                                
                             
                            </fieldset>
                        </form>
                    </div>
                </div>

            </section>
            
        </div>

    </body>
    
</html>
