<!-- MAIN LAYOUT -->

<!doctype html>
<html lang="en" >
    
    <head>
        <title>Hackernation</title>
        <meta charset="utf-8">

        <!-- <base href='/'> -->

        <!-- CSS -->
        <link rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap.min.css">
        
        <!-- JS -->

        <!-- APP -->
        
    </head>
    
    <body>

        <div class="container">



            <!-- Jumbotrón mamón -->
            <div class="jumbotron text-center">
                <h1>Hackernation</h1>
                <p class="lead">
                    Publica problemas de programación, soluciona problemas publicados, recibe y da
                    retroalimentación de/a otros miembros de la comunidad de Hackernation.
                </p>
            </div>



            <section id="list">


                <!-- Cabecera de la página -->
                <div class="page-header">
                    <h2>Lista de problemas</h2>
                </div>

                

                <div class="row">
                    <div class="col-lg-12">

                      

                        <div class="well">
                            <ul class="list-group" >
                                <br>
                                <li class="list-group-item" >1. <a href="#">¡Hola mundo!</a></li>
                                <br>
                                <li class="list-group-item" >2. <a href="#">Sucesión de Fibonacci</a></li>
                                <br>
                                <li class="list-group-item" >3. <a href="#">SMS con teclado numérico</a></li>
                                <br>
                                <li class="list-group-item" >4. <a href="#">Josephus y suicidio masivo</a></li>
                            </ul>
                        </div>


                    </div>
                </div>

            </section>
            
        </div>

    </body>
    
</html>
